In [3]:
import pandas as pd

In [6]:
telcom = pd.read_excel('../data/raw/Telco_customer_churn.xlsx')

## Dataoverview
### Business context
**What problem does the dataset aim to solve?**
**What decision could be made using these data?**

### Data structure
rows = 7043
columns = 33
**What does a row represent?**
A customer
**What is the level of granularity** 
Customer-level(high granularity)

In [19]:
telcom.shape

(7043, 33)

In [20]:
telcom.head(n=3)

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved

In [9]:
telcom.columns

Index(['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges', 'Total Charges', 'Churn Label', 'Churn Value',
       'Churn Score', 'CLTV', 'Churn Reason'],
      dtype='object')

In [10]:
columns = list(telcom.columns)

In [11]:
def missing_rows(telcom, columns):
    missing_rows = {}
    for column in columns:
        missing_rows[column] = telcom[column].isna().sum()
    return missing_rows

In [12]:
missing_row = missing_rows(telcom, columns)
total_rows = telcom.shape[0]
for column,count in missing_row.items():
    print(f'{column}: {count} missing values, percentage: {count/total_rows:.2%}')

CustomerID: 0 missing values, percentage: 0.00%
Count: 0 missing values, percentage: 0.00%
Country: 0 missing values, percentage: 0.00%
State: 0 missing values, percentage: 0.00%
City: 0 missing values, percentage: 0.00%
Zip Code: 0 missing values, percentage: 0.00%
Lat Long: 0 missing values, percentage: 0.00%
Latitude: 0 missing values, percentage: 0.00%
Longitude: 0 missing values, percentage: 0.00%
Gender: 0 missing values, percentage: 0.00%
Senior Citizen: 0 missing values, percentage: 0.00%
Partner: 0 missing values, percentage: 0.00%
Dependents: 0 missing values, percentage: 0.00%
Tenure Months: 0 missing values, percentage: 0.00%
Phone Service: 0 missing values, percentage: 0.00%
Multiple Lines: 0 missing values, percentage: 0.00%
Internet Service: 0 missing values, percentage: 0.00%
Online Security: 0 missing values, percentage: 0.00%
Online Backup: 0 missing values, percentage: 0.00%
Device Protection: 0 missing values, percentage: 0.00%
Tech Support: 0 missing values, percentage: 0.00%
Streaming TV: 0 missing values, percentage: 0.00%
Streaming Movies: 0 missing values, percentage: 0.00%
Contract: 0 missing values, percentage: 0.00%
Paperless Billing: 0 missing values, percentage: 0.00%
Payment Method: 0 missing values, percentage: 0.00%
Monthly Charges: 0 missing values, percentage: 0.00%
Total Charges: 0 missing values, percentage: 0.00%
Churn Label: 0 missing values, percentage: 0.00%
Churn Value: 0 missing values, percentage: 0.00%
Churn Score: 0 missing values, percentage: 0.00%
CLTV: 0 missing values, percentage: 0.00%
Churn Reason: 5174 missing values, percentage: 73.46%

In [13]:
def unique_values(telcom, columns):
    return {column:telcom[column].unique().tolist() for column in columns}

In [14]:
u_values = unique_values(telcom, columns)
def detect_empty_string(unique_values):
    empty_string_columns = []
    invalid_tokens = {'', 'NA', 'N/A', 'na', 'n/a', 'none'}
    for column, values in unique_values.items():
        normalized = {str(value).strip().lower() for value in values}
        if normalized & invalid_tokens:
            empty_string_columns.append(column)
    return empty_string_columns

In [15]:
print(detect_empty_string(u_values))

['Total Charges']

In [16]:
total_charges_unique = telcom['Total Charges'].unique().tolist()
def detect_invalid_string(total_charges_unique):
    invalid_tokens = {'', 'NA', 'N/A', 'na', 'n/a', 'none'}
    normalized = {str(value).strip().lower() for value in total_charges_unique}
    detected_tockens = normalized & invalid_tokens
    return detected_tockens

In [17]:
print(detect_invalid_string(total_charges_unique))

{''}

In [18]:
telcom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 1.8+ MB

### Data quality
**Missing values**
| Column             | Missing Rows | Percentage |
|--------------------|--------------|------------|
| CustomerID         |     0        | 0
| Count              |     0        | 0
| Country            |     0        | 0
| State              |     0        | 0
| City               |     0        | 0
| Zip Code           |     0        | 0
| Lat Long           |     0        | 0
| Latitude           |     0        | 0
| Longitude          |     0        | 0                                      
| Gender             |     0        | 0               
| Senior Citizen     |     0        | 0        
| Partner            |     0        | 0
| Dependents         |     0        | 0
| Tenure Months      |     0        | 0
| Phone Service      |     0        | 0
| Multiple Lines     |     0        | 0
| Internet Service   |     0        | 0
| Online Security    |     0        | 0
| Online Backup      |     0        | 0
| Device Protection  |     0        | 0
| Tech Support       |     0        | 0
| Streaming TV       |     0        | 0
| Streaming Movies   |     0        | 0
| Contract           |     0        | 0
| Paperless Billing  |     0        | 0
| Payment Method     |     0        | 0
| Monthly Charges    |     0        | 0
| Total Charges      |     ?        | ?    (empty rows character found '')
| Churn Label        |     0        | 0
| Churn Value        |     0        | 0
| Churn Score        |     0        | 0
| CLTV               |     0        | 0
| Churn Reason       |    5174      | 73.46

## Data type

| Column             | Data type Raw|  Data type analysis|
|--------------------|--------------|--------------------|
| CustomerID         | object       | string             |
| Count              | int64        | int64              |
| Country            | object       | string             |
| State              | object       | string             |
| City               | object       | string             |
| Zip Code           | int64        | int64              |
| Lat Long           | object       | string             |  (redundat information)
| Latitude           | float64      | float64            |
| Longitude          | float64      | float64            |                         
| Gender             | object       | string             |         
| Senior Citizen     | object       | bool               |     
| Partner            | object       | bool               |
| Dependents         | object       | bool               |
| Tenure Months      | int64        | int32              |
| Phone Service      | object       | bool               |
| Multiple Lines     | object       | bool               |
| Internet Service   | object       | string             |
| Online Security    | object       | bool               |
| Online Backup      | object       | bool               |
| Device Protection  | object       | bool               |
| Tech Support       | object       | bool               |
| Streaming TV       | object       | bool               |
| Streaming Movies   | object       | bool               |
| Contract           | object       | string             |
| Paperless Billing  | object       | bool               |
| Payment Method     | object       | string             |
| Monthly Charges    | float64      | float32            |
| Total Charges      | object       | float32            |
| Churn Label        | object       | bool               |
| Churn Value        | int64        | int32              |
| Churn Score        | int64        | int32              |
| CLTV               | int64        | int64              |
| Churn Reason       | object       | string             |

In [ ]:
#Distinct and unique values(Distribution)
print('Distinct values(Distribution)')
for key,value in u_values.items():
    print(f'{key} --> total unique values:{len(value)}')

Distinct and unique values(Distribution)
CustomerID --> total unique values:7043
Count --> total unique values:1
Country --> total unique values:1
State --> total unique values:1
City --> total unique values:1129
Zip Code --> total unique values:1652
Lat Long --> total unique values:1652
Latitude --> total unique values:1652
Longitude --> total unique values:1651
Gender --> total unique values:2
Senior Citizen --> total unique values:2
Partner --> total unique values:2
Dependents --> total unique values:2
Tenure Months --> total unique values:73
Phone Service --> total unique values:2
Multiple Lines --> total unique values:3
Internet Service --> total unique values:3
Online Security --> total unique values:3
Online Backup --> total unique values:3
Device Protection --> total unique values:3
Tech Support --> total unique values:3
Streaming TV --> total unique values:3
Streaming Movies --> total unique values:3
Contract --> total unique values:3
Paperless Billing --> total unique values:2
Payment Method --> total unique values:4
Monthly Charges --> total unique values:1585
Total Charges --> total unique values:6531
Churn Label --> total unique values:2
Churn Value --> total unique values:2
Churn Score --> total unique values:85
CLTV --> total unique values:3438
Churn Reason --> total unique values:21

In [21]:
# unique values
print('Unique values (Distribution)')
for column in columns:
    counts = telcom[column].value_counts(dropna=False)
    appears_once = counts[counts == 1]
    
    if not appears_once.empty:
        print(f"\n{column}")
        print(f"Cantidad de valores que aparecen una vez: {len(appears_once)}")
        #print(appears_once.index.tolist())

Unique values (Distribution)

CustomerID
Cantidad de valores que aparecen una vez: 7043

Monthly Charges
Cantidad de valores que aparecen una vez: 381

Total Charges
Cantidad de valores que aparecen una vez: 6172

Churn Score
Cantidad de valores que aparecen una vez: 1

CLTV
Cantidad de valores que aparecen una vez: 1407

In [ ]:
# Duplicate rows
print(telcom.duplicated().sum()) # No duplicate rows

0

### Limitation and Assumptions